@import url(//fonts.googleapis.com/earlyaccess/droidarabickufi.css);
html {
	
	font-family: 'karla','sans-serif';

	
}

.arabic{
	font-family: 'Droid Arabic Kufi', 'sans-serif';
}
.panel-footer {
	
	padding-bottom: 0;
    padding-top: 0;
}

.container-fluid{
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
	padding: 0;
	
}
.container{
	
	
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	
	position: absolute;
    
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
   	font-size: 47.15px;
    
	
		
}
section {
	height: 100vh;
	position: relative;
}

#second_section{
	height: 100vh;
	background-color: #06507f;
	position: relative;
	
}

#logo {
	max-width: 60%;
	vertical-align: middle;
	display: inline-block;
}

#no-margin {
	margin-right: 0;
	margin-left: 0;
}
#inner-row{
	
}
.store a img {
	display: inline-flex;
	max-width: 50%;
	max-height: 70px;
	
}

.navigate{
	    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%,-0%);
	
    -webkit-transform: translate(-50%,-0%);
    -moz-transform: translate(-50%,-0%);
    -ms-transform: translate(-50%,-0%);
    text-align: center;
}

/*
.google-play-store a img {
	display: inline-flex;
	max-width: 60%;
	
}
*/

/*   */

#second_container
{
	position: absolute;
    margin: 0 auto;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 90%;
    max-width: 1200px;
	color: white;
	
	
	
}

.color-white{
	
	color: white;
}

iframe{
		    height: 250px;
    width: 100%;
	}

footer{

	position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    transform: translate(-0%,-0%);
	-webkit-transform: translate(-0%,-0%);
    -moz-transform: translate(-0%,-0%);
    -ms-transform: translate(-0%,-0%);
    max-height: 60px;
		}


footer span {
	color: gray;
	font-family: 'karla','sans-serif';
}
#title {
	
	margin: 0;
	padding-top: 30px;
	font-family: 'karla','sans-serif';
}
/*    */




/************************/
/********* SVG **********/
/************************/




#svg1 svg 
	{
		height: 70px;
    
  
	}

#svg1 svg #mouse-circle circle {
	-webkit-animation-name: svg1;
	animation-name: svg1;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes svg1 {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(150px);
		transform: translateY(150px);
		opacity: 0;
	}
}

@keyframes svg1 {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(150px);
		transform: translateY(150px);
		opacity: 0;
	}
}

/* ARROW */
#multiple1 {
	margin-top: 1%;
	display: inline-block;
	
}

#multiple1 .scroll-arrow-container {
	height: 20px;
	width: 20px;
	display: block;
	position: relative;
	
}

#multiple1 span {
	position: absolute;
	height: 4px;
	width: 30px;
	background-color: #7f7f7f;

		
}

#multiple1 span.arrow-left {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
	left: -17px;
}

#multiple1 span.arrow-right {
	-webkit-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
	right: -17px;
}

#multiple1 .arrow1 {
	-webkit-animation-name: multiple1_1;
	animation-name: multiple1_1;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes multiple1_1 {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

#multiple1 .arrow2 {
	-webkit-animation-name: multiple1_2;
	animation-name: multiple1_2;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes multiple1_2 {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

#multiple1 .arrow3 {
	-webkit-animation-name: multiple1_3;
	animation-name: multiple1_3;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes multiple1_3 {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


	
	


